* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 42px;
  font-family: 'Noto Sans', sans-serif;
}

button, input, label {
  font-family: inherit;
  appearance: none;
}

legend {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

label {
  font-size: 0.5rem;
  letter-spacing: 3px;
  font-weight: 600;
}


input {
  /* border: none; */
  width: 8rem;
  height: 1rem;
}

.fieldset {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left:1rem;
  border: none;
  height: 10rem;
  margin-bottom: 3rem;
}

.fieldset > div {
  display:flex;
  flex-direction: column;
  margin-right: 4rem;
}

.body-cont {
  display:flex;
}

.bg-img {
  height: 100%;
  width: 20rem;
  display: block;
}

.info-txt{
  margin: 5rem 0 1rem 1rem;
  font-weight: bold;
}

.motivational-txt {
  font-weight: bold;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

 .first-name-cont {
}

/* .pwd2-cont {
  order: 1;
}

.pno-cont {
  order: 2;
} */




