* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 42px;
  font-family: 'Noto Sans', sans-serif;
  color: #212b31;
}

button, input, label {
  font-family: inherit;
  appearance: none;
}

legend {
  position: absolute;
  top: 0;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

label {
  font-size: 0.5rem;
  letter-spacing: 3px;
  font-weight: 600;
}


input {
  border: 1px solid #b7c3c3;
  border-radius: 5px;
  width: 9rem;
  height: 1rem;
}

.content-cont {
  -webkit-box-shadow: 0px 1px 5px 1px rgba(183,180,184,1);
  -moz-box-shadow: 0px 1px 5px 1px rgba(183,180,184,1);
  box-shadow: 0px 1px 5px 1px rgba(183,180,184,1);
}

.fieldset {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-left:1rem;
  padding-top: 2rem;
  border: none;
  height: 10rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0px 1px 5px 1px #95847aa9;;
  -moz-box-shadow: 0px 1px 5px 1px #95847aa9;
  box-shadow: 0px 1px 5px 1px #95847aa9;
}

.fieldset > div { /* For all the containers of inputs and labels */
  display:flex;
  flex-direction: column;
  margin-right: 4rem;
}

.body-cont {
  display:flex;
}


.logo-section {
  flex: 1 4rem;
  background-image: url('img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.form-section {
  flex: 2;
}

.info-txt{
  margin: 2.5rem 0 1rem 1rem;
  font-weight: bold;
  font-size: inherit;
}

.motivational-txt {
  font-weight: bold;
  font-size: inherit;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.logo-cont{
  display:flex;
  align-items:center;
  background-color: #e9e6e388;
  margin-top: 6rem;
}
.logo{
  height: 5rem;
  margin-left: 1rem;
}

.logo-txt {
  font-family: 'Varela', 'Noto sans', sans-serif;
  font-size: 3rem;
  margin-left: 1rem;
}

 .first-name-cont {
}

/* .pwd2-cont {
  order: 1;
}

.pno-cont {
  order: 2;
} */




